:root {
  --grey-75: #f7f9fc;
  --grey-200: #e4e7ec;
  --grey-400: #98a2b3;
  --grey-500: #667185;
  --grey-600: #475367;
  --grey-700: #344054;
  --grey-900: #101928;

  --pri-2: #f3f3fe;

  --secondary-200: #80bbff;

  --shade-black: #000000;
  --primary: #920af2;
}
