@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
}
// Work Robin Button styles
.WR-btn {
}

// Tables
table th:first-child {
  border-radius: 10px 0 0 10px;
}

table th:last-child {
  border-radius: 0 10px 10px 0;
}

// auth Form
.WR-form-sub-headers {
  @apply text-neutral-150 text-sm font-semibold leading-[17.5px];
}
.WR-form-headers {
  @apply text-black text-[2rem] font-semibold leading-10;
}

// profiling form inputs
.Profiling-form input {
  // @apply rounded-none;
}

// profiling form
.Profiling-form-title {
  @apply text-secondary-150 text-[2rem] font-medium leading-10 tracking-[0.0125rem];
}
.Profiling-form-subtitle {
  @apply text-secondary-100 text-[1.125rem] font-normal leading-[27px];
}

// react multiselect
.multiselect-container.multiSelectContainer {
  .icon_cancel {
  }
  .optionListContainer {
    li {
      &:hover {
        @apply bg-primary-600 text-primary-50;
      }
    }
  }
}
// react multiselect

.custom-time-input {
  border: 2px solid #4caf50; /* Green border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding */
  font-size: 16px; /* Font size */
  color: #333; /* Text color */
  background-color: #f9f9f9; /* Background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.custom-time-input:focus {
  border-color: #66bb6a; /* Darker green border on focus */
  outline: none; /* Remove default outline */
  box-shadow: 0 0 10px rgba(102, 187, 106, 0.5); /* Shadow effect on focus */
}
